@charset "UTF-8";

* {
    --shadow-light-color: rgba(0, 0, 0, 0.33);
    --shadow-color: rgba(0, 0, 0, 0.5);
    --primary-color: black;
    --primary-text-color: white;
    --primary-selection-color: rgba(255, 255, 255, 0.5);
    --secondary-color: white;
    --secondary-text-color: black;
    --secondary-selection-color: rgba(0, 0, 0, 0.33);
    --accent-color: red;
    --card-background-color: none;
    --card-text-color: none;
}