BODY {
	
}

#preview {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    background: black;
}

.slider-buttons {
    position: relative;
    width: 10%;
    float: right;
    border-radius: 50%;
    margin: 15px;
    background: transparent;
}

.slider-buttons:hover {
    background: rgba(255, 255, 255, 0.2);	
}

#slider-last {
	float: left;
}

#slider-next {
    float: right;
}

#slider {
	position: relative;
	text-align: center;
}

#contacts {
    background: url("../img/contacts_background.png");
    color: white;
}

#contacts-list {
    width: 100%;
    margin-top: 7%;
    margin-bottom: 7%;
}

.contact-icon {
    width: 17%;
    border-radius: 50%;
}