@charset "UTF-8";

@media screen and (orientation: portrait) {
    * {

    }

    HTML, BODY {
        width: 100%;
        overflow-x: hidden;
    }

    #profile {
        width: 97%;
        height: 15%;
        max-height: 300px;
        padding: 2%;
        top: -1%;
        left: -1%;
        position: relative;
        flex-direction: row;
        align-items: center;
        box-shadow: 0 5px 10px var(--shadow-color);
    }

    #avatar {
        margin-left: 3%;
        height: 80%;
    }

    #name {
        //font-size: 600%;
        margin-left: 8%;
    }

    #container {
        /* BOUNDS */
        width: 100%;
    }

    DIV#cards > .wrapper {
        position: relative;
        width: 100%;
    }

    DIV.card {
        /* BOUNDS */
        max-width: 200px;
        min-height: 80px;
        padding: 5px;
        margin: 8px;
        border-radius: 7px 14px 7px 14px;
    }

    DIV.card .title {
        //font-size: 150%;
    }

    DIV.card .logo {
        width: 75px;
    }
}