@charset "UTF-8";

#profile {
    /* STYLES */
    background: var(--primary-color);
    color: var(--primary-text-color);
    font-family: var(--title-font-family);
    text-align: center;
    display: flex;

    /* TRANSFORM */
    transform: rotate(-2deg);
}

/* profile avatar */
#avatar {

}

/* profile name */
#name {
    text-transform: uppercase;
    letter-spacing: 3px;
}