@charset "UTF-8";

#magic
{
    font-family: Aqum;
    color: #2B003F;
}

#vendetta .name
{
    width: 100%;
    position: absolute;
    bottom: 0px;
}

#vendetta .name P 
{
    font-size: 85%;
}

#magic .top-left
{
	width: 55%;
	float: left;
	color: white;
}

#magic .licenses
{
	width: 100%;
	float: left;
	margin-top: 50px;
	width: 75%;
}

#magic .contacts
{
    width: 100%;
   	float: left;
    padding-top: 1%;
}

#magic .contacts IMG
{
    width: 100px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px white;
    float: left;
    margin-right: 2%;
}

#magic .contacts .github
{
    border-radius: 50%;    
}

#magic .top-right
{
	width: 35%;
	float: left;
}

#magic .center-one
{
	width: 35%;
	float: left;
	margin-left: -10%;
}

#magic .center-two
{
	width: 35%;
	float: left;
	margin-left: 25%;
}

#magic .chapter UL
{
	width: 100%;
	float: left;
	display: block;
	margin: 50px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
}

#magic .chapter .language-icon
{
	width: 100px;
	float: left;
	margin-left: 100px;
}

#magic .chapter H1
{
	text-align: center;
}

#magic .right-bottom
{
	position: absolute;
	width: 19%;
	right: 0px;
	bottom: 0px;
	font-size: 88%;
	color: white;
}